/.editorconfig linguist-generated
/.gitattributes linguist-generated
/.github/renovate.json linguist-generated
/.github/settings.yml linguist-generated
/.github/workflows/flakehub-publish.yml linguist-generated
/.github/workflows/flakestry-publish.yml linguist-generated
/.github/workflows/pages.yml linguist-generated
/.github/workflows/switch-pm-generation.yml linguist-generated
/.local/share/vale/Vocab/project-manager/accept.txt linguist-generated
/.local/share/vale/config/vocabularies/project-manager/accept.txt linguist-generated
/.vale.ini linguist-generated
/nix-ci.nix linguist-generated
