/.editorconfig linguist-generated
/.gitattributes linguist-generated
/.github/settings.yml linguist-generated
/.shellcheckrc linguist-generated
/.github/workflows/flakehub-publish.yml linguist-generated
/.github/workflows/flakestry-publish.yml linguist-generated
/garnix.yaml linguist-generated
/.github/workflows/pages.yml linguist-generated
/renovate.json linguist-generated
/.github/workflows/update-nix-lockfile.yml linguist-generated
